@using Persistencia.DAL.Usuarios
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/content/bootstrap.css")" rel="stylesheet" />
    <link href="~/Content/Styles.css" rel="stylesheet" />
    <link href="~/Content/themify-icons/themify-icons.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="main">
        <div class="row">
            <div class="page-header col-md-12 text-light bg-dark">
                <h1>Desenvolvimento em ASP.NET MVC</h1>
                <h3>Utilizando Bootstrap</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2 col-md-2 bg-light" style="padding-top:15px">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a id="liPaginaInicial" class="nav-link" href="@Url.RouteUrl("Default", new { controller = "PaginaInicial", action = "Index"})">Home</a>
                    <a id="liCarrinho" class="nav-link" href="@Url.RouteUrl("Carrinho_default", new { controller = "Carrinhos", action = "Create"})">Carrinho</a>
                    <a id="liCategorias" class="nav-link" href="@Url.RouteUrl("Tabelas_default", new { controller = "Categorias", action = "Index"})">Categorias</a>
                    <a id="liFabricantes" class="nav-link" href="@Url.RouteUrl("Cadastros_default", new { controller = "Fabricantes", action = "Index"})">Fabricantes</a>
                    <a id="liProdutos" class="nav-link" href="@Url.RouteUrl("Cadastros_default", new { controller = "Produtos", action = "Index"})">Produtos</a>
                    <a id="liUsuarios" class="nav-link" href="@Url.RouteUrl("Seguranca_default", new { controller = "Admin"})">Usuários</a>
                    <a id="liPapeis" class="nav-link" href="@Url.RouteUrl("Seguranca_default", new { controller = "PapelAdmin"})">Papéis(Roles)</a>
                </div>
            </div>
            <div class="col-xs-10 col-md-10">
                <div class="col-md-12" id="LoginRow">
                    @{
                        if (Html.GetAuthenticatedUser().ToString() != "")
                        {
                            @Html.GetAuthenticatedUser();
                            @Html.ActionLink(" - Sair", "Logout", new { area = "Seguranca", controller = "Account" });
                        }
                        else
                        {
                            @Html.ActionLink("Login", "Login", "Account", new { area = "Seguranca" }, null);
                        }
                    }
                </div>

                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/scripts/jquery-3.3.1.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
    <script src="~/scripts/ui.datapicker-pt-BR.js"></script>

    @RenderSection("ScriptPage", false)
</body>
</html>