@model  IEnumerable<Modelo.Cadastros.Produto>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Relação de Produtos";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}

<div class="card">
    <div class="card-header">
        Relação de Produtos
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-dark" align="center">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProdutoID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>Fabricante</th>
                    <th>Categoria</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="10%" align="center">
                            @Html.DisplayFor(modelItem => item.ProdutoID)
                        </td>
                        <td width="35%">
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td width="20%" align="center">
                            @Html.DisplayFor(modelItem => item.Fabricante.Nome)
                        </td>
                        <td width="20%" align="center">
                            @Html.DisplayFor(modelItem => item.Categoria.Nome)
                        </td>
                        <td width="15%" align="center">
                            <a class="remove-underline" href="@Url.Action("Edit", new { id = item.ProdutoID})"><i class="ti-pencil text-dark btn-icon"></i></a> |
                            <a class="remove-underline" href="@Url.Action("Details", new { id = item.ProdutoID })"><i class="ti-eye text-dark btn-icon"></i></a> |
                            <a class="remove-underline" href="@Url.Action("Delete", new { id = item.ProdutoID})"><i class="ti-trash text-dark btn-icon"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Adicionar", "Create", null, new { @class = "btn btn-primary" })
    </div>
</div>


